</head>
<body>
  <nav>
		<i class=""></i>  
    <button><a href="/">Homepage</a></button>
    <button><a href="/flights">All flights</a></button>
    <button><a href="/flights/new">Add flight</a></button>
</main>
  </nav>