<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>
<main>
<br>
<form action="/flights/<%=flight._id%>/tickets"  method="POST">
<label for="Seat selection">Select a seat: [A-F] and [1-99] only
  <input name="seat" required pattern="[A-F][1-9]\d?">

</label>
<br>
<br>
<label for="Choosing a ticket price">Choose a seating class and price 
  <select name="price" id="price">
    <option value="100" selected>Economy 100 USD</option>
    <option value="500">Premium Economy 500 USD</option>
    <option value="1000" >First Class 1000 USD</option>
</select>
</label>
<br>
<br>
<button type="submit">Submit ticket</button>


</form>

</main>




<%- include("../partials/footer") %> 